@CHARSET "UTF-8";
body{
	background-image: url(../image/bg4.jpg);
}

.login-page {
	
	height: 100vh;
}

.login_alert {
	text-align: center;
	color: red;
	font-size: 18px;
}

.modal-header>h4 {
	font-size: 30px;
	font-weight: bold;
}

.modal-content {
	width: 84%;
	margin: 0 auto;
}

.modal-dialog {
	padding-top: 111px;
}
.btn-success {
	font-size: 17px;
	font-weight: bold;
	background-color: #487BA7;
}
.modal-footer{
	text-align: center;
	
}
.modal-footer>span{
	margin-left: 20px;
    
}
.modal-body>.form-group{
	position: relative;
}
.msg-success{
	position: absolute;
	right: 10px;
	top: 5px;
	background: rgba(0, 128, 0, 0.6);
	text-align: center;
	color: white;
	padding: 0 5px;	
}

.msg-error{
	position: absolute;
	right: 10px;
	top: 5px;
	background: rgba(255, 0, 0, 0.5);
	text-align: center;
	color: white;
	padding: 0 5px;	
}
.pull-right 
